
@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Righteous');

.video {
  text-align: center;
  margin-top: 100px;
position: relative;

}

h1 {
color: #ffcc00;
font-family: 'Righteous', cursive;
font-size: 5em;
text-align: center;

}

h2 {
color: #ffcc00;
font-family: 'Maven Pro', sans-serif;
font-size: 4em;
text-align: left;
margin-left: 50Px;
}

header {
justify-content: center;
}

a {
color: yellow;
list-style-type: none;

}

ul {

list-style-type: none;
}

.prev {
  position: absolute;
  top : 50%;
  transform: translateY(-50%);
  right: 2%;
}

.next {
  position: absolute;
  top : 50%;
  transform: translateY(-50%);
  left : 2%;
}


body {
background: black;
font-family: 'Maven Pro', sans-serif;
color: white;
}


p {
font-family: 'Maven Pro', sans-serif;
color: white;
background: black;
text-align: left;
font-size: 2.5em;
margin-left: 4%;
margin-right: 20%;
margin-top: 5%;
margin-bottom: auto;

}

footer{
  font-family: 'Maven Pro', sans-serif;
color: white;
background: black;
text-align: center;
font-size: 1em;

}

.presentation {
  font-family: 'Maven Pro', sans-serif;
  color: white;
  background: black;
  text-align: center;
  font-size: 1em;
  margin-left: 20%;
  margin-right: 5%;

}


h3 {
  font-family: 'Maven Pro', sans-serif;
  color: white;
  background: black;
  text-align: center;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto%;
  margin-top: 2%;
  margin-bottom: 2%;
}


.logo {
margin-left: 5%;
margin-right: 90%;
margin-top: 3%;
margin-bottom: auto;
}

.logo2 {
margin-left: 45%;
}

.logo3 {
margin-left: 40%;
margin-bottom: 15%;
margin-top: 10%;
}

h4 {
  background: black;
  align-items: center;
  margin-left: auto;
  margin-right: auto%;
  margin-top:30%;
  margin-bottom: 2%;

}
